In [1]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
poi_data = pd.read_csv('../Datasets/Task 1/POIdata_cityA.csv')
categories = pd.read_csv('../Datasets/Task 1/POI_datacategories.csv', header=None)

In [3]:
poi_data['grid_id'] = poi_data['x'].astype(str) + "_" + poi_data['y'].astype(str)
grid_baskets = poi_data.groupby('grid_id')['category'].apply(list)

for basket in grid_baskets:
    basket = list(set(basket))

grid_baskets

grid_id
100_10                                  [76, 62, 81, 65, 79]
100_100    [59, 81, 57, 38, 62, 54, 60, 52, 70, 13, 48, 7...
100_101    [59, 81, 76, 69, 62, 77, 36, 48, 73, 4, 79, 78...
100_102    [59, 48, 81, 4, 66, 69, 9, 14, 11, 36, 13, 5, ...
100_103             [59, 81, 82, 14, 71, 63, 51, 62, 84, 79]
                                 ...
9_6        [59, 81, 63, 33, 36, 70, 66, 20, 4, 47, 51, 79...
9_7        [59, 47, 63, 60, 79, 76, 54, 73, 48, 66, 62, 5...
9_8                                 [59, 56, 47, 55, 54, 53]
9_9                                          [34, 73, 4, 67]
9_97                                                    [56]
Name: category, Length: 20146, dtype: object

In [4]:
one_hot_list = []

for i in range(len(grid_baskets)):
    row = []
    for j in range(len(categories)):
        row.append(0)
    one_hot_list.append(row)


for basket_index in range(len(grid_baskets)):
    for category_index in grid_baskets[basket_index]:
        one_hot_list[basket_index][category_index-1] = 1

one_hot_df = pd.DataFrame(one_hot_list, columns=categories[0])
one_hot_df

C:\Users\User1\AppData\Local\Temp\ipykernel_52708\2847338506.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  for category_index in grid_baskets[basket_index]:

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
2,0,0,0,1,1,0,0,0,0,0,...,1,1,1,1,0,1,0,0,0,1
3,0,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20141,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
20142,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
20143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20144,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
grid_baskets_df = grid_baskets.reset_index()
grid_baskets_df.columns = ['grid_id', 'categories']
print(grid_baskets_df)

       grid_id                                         categories
0       100_10                               [76, 62, 81, 65, 79]
1      100_100  [59, 81, 57, 38, 62, 54, 60, 52, 70, 13, 48, 7...
2      100_101  [59, 81, 76, 69, 62, 77, 36, 48, 73, 4, 79, 78...
3      100_102  [59, 48, 81, 4, 66, 69, 9, 14, 11, 36, 13, 5, ...
4      100_103           [59, 81, 82, 14, 71, 63, 51, 62, 84, 79]
...        ...                                                ...
20141      9_6  [59, 81, 63, 33, 36, 70, 66, 20, 4, 47, 51, 79...
20142      9_7  [59, 47, 63, 60, 79, 76, 54, 73, 48, 66, 62, 5...
20143      9_8                           [59, 56, 47, 55, 54, 53]
20144      9_9                                    [34, 73, 4, 67]
20145     9_97                                               [56]

[20146 rows x 2 columns]

In [6]:
grid_baskets_df = grid_baskets_df.join(one_hot_df)
grid_baskets_df.drop(['categories'], axis='columns', inplace=True)
grid_baskets_df.set_index('grid_id', inplace=True)
grid_baskets_df

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
grid_id,,,,,,,,,,,,,,,,,,,,,
100_10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
100_100,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
100_101,0,0,0,1,1,0,0,0,0,0,...,1,1,1,1,0,1,0,0,0,1
100_102,0,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
100_103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9_6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
9_7,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
9_8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
freq_items = apriori(grid_baskets_df, min_support=0.25, use_colnames=True)

rules = association_rules(freq_items, metric ="lift", min_threshold = 1, num_itemsets=len(grid_baskets)) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

            antecedents          consequents  antecedent support  \
19           (Laundry )     (Heavy Industry)            0.318624
11        (Real Estate)     (Heavy Industry)            0.372679
26  (Accountant Office)     (Heavy Industry)            0.332324
22         (Hair Salon)     (Heavy Industry)            0.374814
9         (Real Estate)  (Building Material)            0.372679

    consequent support   support  confidence      lift  representativity  \
19            0.559069  0.251266    0.788596  1.410553               1.0
11            0.559069  0.292316    0.784363  1.402982               1.0
26            0.559069  0.258414    0.777595  1.390876               1.0
22            0.559069  0.286062    0.763210  1.365145               1.0
9             0.453291  0.277921    0.745738  1.645164               1.0

    leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
19  0.073133    2.085731       0.427163  0.401109   0.520552    0.619016
11  0.083963    2.044788       0.457872  0.457150   0.510952    0.653613
26  0.072622    1.982562       0.420906  0.408250   0.495602    0.619908
22  0.076515    1.862121       0.427836  0.441575   0.462978    0.637443
9   0.108989    2.150179       0.625131  0.507110   0.534922    0.679428

c:\Users\User1\anaconda3\envs\dm-proj2\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Top frequent itemsets
and verification of support values

In [8]:
freq_itemsets_copy = freq_items.copy()

# Calculate the support counts manually and add as a new column
support_counts = []
for index, row in freq_itemsets_copy.iterrows():
    itemset = list(row["itemsets"])  # convert frozenset of items to list
    items = one_hot_df[itemset]  # get the columns in the itemset
    mask = items.all(
        axis=1
    )  # check if all items in the itemset are present in each row (grid cell)
    support_count = mask.sum() / len(one_hot_df)
    support_counts.append(support_count)

freq_itemsets_copy["check_support"] = support_counts
# sort the dataframe by the support count and reset the index

freq_itemsets_copy = freq_itemsets_copy.sort_values(
    "support", ascending=False
).reset_index(drop=True)

freq_itemsets_copy.head()

    support             itemsets  check_support
0  0.559069     (Heavy Industry)       0.559069
1  0.458255    (Home Appliances)       0.458255
2  0.453291  (Building Material)       0.453291
3  0.428522             (Church)       0.428522
4  0.406979    (Transit Station)       0.406979

In [9]:
# save to csv
freq_itemsets_copy.to_csv("../Datasets/Task 1/freq_itemsets_cityA.csv")

### Top Association Rules by Lift

In [10]:
# keep only antecedents, consequents and lift
rulesA = rules.copy()[['antecedents', 'consequents', 'lift']]
# combine antecedents and consequents into a rule column with this format: (antecedents) -> (consequents)
rule_col = rulesA['antecedents'].apply(lambda x: ', '.join(list(x))) + ' -> ' + rulesA['consequents'].apply(lambda x: ', '.join(list(x)))
# insert rule column into df
rulesA.insert(0, 'rule', rule_col)
# drop antecedents and consequents
rulesA.drop(['antecedents', 'consequents'], axis='columns', inplace=True)
# sort by lift and reset index
rulesA = rulesA.sort_values('lift', ascending=False).reset_index(drop=True)

In [11]:
rulesA.head()

                               rule      lift
0         Real Estate -> Hair Salon  1.911089
1         Hair Salon -> Real Estate  1.911089
2  Real Estate -> Building Material  1.645164
3  Building Material -> Real Estate  1.645164
4   Building Material -> Hair Salon  1.601028

In [12]:
# save to csv
rulesA.to_csv("../Datasets/Task 1/rules_cityA.csv")