In [1]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
poi_data = pd.read_csv('../Datasets/Task 1/POIdata_cityD.csv')
categories = pd.read_csv('../Datasets/Task 1/POI_datacategories.csv', header=None)

In [3]:
poi_data['grid_id'] = poi_data['x'].astype(str) + "_" + poi_data['y'].astype(str)
grid_baskets = poi_data.groupby('grid_id')['category'].apply(list)

for basket in grid_baskets:
    basket = list(set(basket))

grid_baskets

grid_id
100_1                                                   [81]
100_100    [48, 59, 76, 4, 62, 82, 75, 51, 74, 69, 81, 5,...
100_101    [48, 76, 66, 59, 81, 62, 4, 38, 51, 46, 79, 69...
100_102    [4, 69, 22, 13, 48, 40, 5, 59, 18, 66, 46, 11,...
100_103    [48, 59, 46, 82, 51, 66, 4, 41, 13, 33, 49, 14...
                                 ...
9_29                                        [69, 82, 14, 66]
9_33                                            [80, 17, 69]
9_59                                                    [81]
9_60                                                [48, 63]
9_61                                            [47, 48, 74]
Name: category, Length: 10988, dtype: object

In [4]:
one_hot_list = []

for i in range(len(grid_baskets)):
    row = []
    for j in range(len(categories)):
        row.append(0)
    one_hot_list.append(row)


for basket_index in range(len(grid_baskets)):
    for category_index in grid_baskets[basket_index]:
        one_hot_list[basket_index][category_index-1] = 1

one_hot_df = pd.DataFrame(one_hot_list, columns=categories[0])
one_hot_df

C:\Users\User1\AppData\Local\Temp\ipykernel_52896\2041592903.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  for category_index in grid_baskets[basket_index]:

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,1,1,1,0,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
2,0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,0
3,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,0,0
4,1,0,0,1,1,0,0,0,1,1,...,1,0,1,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
grid_baskets_df = grid_baskets.reset_index()
grid_baskets_df.columns = ['grid_id', 'categories']
print(grid_baskets_df)

       grid_id                                         categories
0        100_1                                               [81]
1      100_100  [48, 59, 76, 4, 62, 82, 75, 51, 74, 69, 81, 5,...
2      100_101  [48, 76, 66, 59, 81, 62, 4, 38, 51, 46, 79, 69...
3      100_102  [4, 69, 22, 13, 48, 40, 5, 59, 18, 66, 46, 11,...
4      100_103  [48, 59, 46, 82, 51, 66, 4, 41, 13, 33, 49, 14...
...        ...                                                ...
10983     9_29                                   [69, 82, 14, 66]
10984     9_33                                       [80, 17, 69]
10985     9_59                                               [81]
10986     9_60                                           [48, 63]
10987     9_61                                       [47, 48, 74]

[10988 rows x 2 columns]

In [6]:
grid_baskets_df = grid_baskets_df.join(one_hot_df)
grid_baskets_df.drop(['categories'], axis='columns', inplace=True)
grid_baskets_df.set_index('grid_id', inplace=True)
grid_baskets_df

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
grid_id,,,,,,,,,,,,,,,,,,,,,
100_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
100_100,1,0,1,1,1,0,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
100_101,0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,0
100_102,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,0,0
100_103,1,0,0,1,1,0,0,0,1,1,...,1,0,1,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9_29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9_33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9_59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9_60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_61,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
freq_items = apriori(grid_baskets_df, min_support=0.1, use_colnames=True)

rules = association_rules(
    freq_items, metric="lift", min_threshold=1, num_itemsets=len(grid_baskets)
)
rules = rules.sort_values(["confidence", "lift"], ascending=[False, False])
print(rules.head())

                       antecedents          consequents  antecedent support  \
35                      (Hospital)         (Hair Salon)            0.143975
11                      (Hospital)    (Transit Station)            0.143975
136   (Hair Salon, Heavy Industry)  (Building Material)            0.139880
118  (Hair Salon, Transit Station)  (Building Material)            0.142064
52                   (Real Estate)  (Building Material)            0.174827

     consequent support   support  confidence      lift  representativity  \
35             0.230251  0.105934    0.735777  3.195543               1.0
11             0.308063  0.105752    0.734513  2.384293               1.0
136            0.322625  0.102111    0.729993  2.262671               1.0
118            0.322625  0.101656    0.715567  2.217955               1.0
52             0.322625  0.125046    0.715252  2.216980               1.0

     leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
35   0.072783    2.913260       0.802622  0.394844   0.656742    0.597928
11   0.061398    2.606295       0.678238  0.305388   0.616314    0.538896
136  0.056983    2.508737       0.648798  0.283333   0.601393    0.523248
118  0.055823    2.381493       0.640064  0.280020   0.580095    0.515329
52   0.068642    2.378863       0.665237  0.335777   0.579631    0.551420

c:\Users\User1\anaconda3\envs\dm-proj2\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Top frequent itemsets
and verification of support values

In [8]:
freq_itemsets_copy = freq_items.copy()

# Calculate the support counts manually and add as a new column
support_counts = []
for index, row in freq_itemsets_copy.iterrows():
    itemset = list(row["itemsets"])  # convert frozenset of items to list
    items = one_hot_df[itemset]  # get the columns in the itemset
    mask = items.all(
        axis=1
    )  # check if all items in the itemset are present in each row (grid cell)
    support_count = mask.sum() / len(one_hot_df)
    support_counts.append(support_count)

freq_itemsets_copy["check_support"] = support_counts
# sort the dataframe by the support count and reset the index

freq_itemsets_copy = freq_itemsets_copy.sort_values(
    "support", ascending=False
).reset_index(drop=True)

freq_itemsets_copy.head()

    support             itemsets  check_support
0  0.360939             (Church)       0.360939
1  0.334274     (Heavy Industry)       0.334274
2  0.331361    (Home Appliances)       0.331361
3  0.322625  (Building Material)       0.322625
4  0.308063    (Transit Station)       0.308063

In [9]:
# save to csv
freq_itemsets_copy.to_csv("../Datasets/Task 1/freq_itemsets_cityD.csv")

### Top Association Rules by Lift

In [10]:
# keep only antecedents, consequents and lift
rulesD = rules.copy()[["antecedents", "consequents", "lift"]]
# combine antecedents and consequents into a rule column with this format: (antecedents) -> (consequents)
rule_col = (
    rulesD["antecedents"].apply(lambda x: ", ".join(list(x)))
    + " -> "
    + rulesD["consequents"].apply(lambda x: ", ".join(list(x)))
)
# insert rule column into df
rulesD.insert(0, "rule", rule_col)
# drop antecedents and consequents
rulesD.drop(["antecedents", "consequents"], axis="columns", inplace=True)
# sort by lift and reset index
rulesD = rulesD.sort_values("lift", ascending=False).reset_index(drop=True)

In [11]:
rulesD.head()

                                               rule      lift
0                            Hospital -> Hair Salon  3.195543
1                            Hair Salon -> Hospital  3.195543
2                           Real Estate -> Laundry   2.986421
3                           Laundry  -> Real Estate  2.986421
4  Transit Station, Building Material -> Hair Salon  2.860391

In [12]:
# save to csv
rulesD.to_csv("../Datasets/Task 1/rules_cityD.csv")