In [1]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
poi_data = pd.read_csv('../Datasets/Task 1/POIdata_cityB.csv')
categories = pd.read_csv('../Datasets/Task 1/POI_datacategories.csv', header=None)

In [3]:
poi_data['grid_id'] = poi_data['x'].astype(str) + "_" + poi_data['y'].astype(str)
grid_baskets = poi_data.groupby('grid_id')['category'].apply(list)

for basket in grid_baskets:
    basket = list(set(basket))

grid_baskets

grid_id
100_102                     [83, 48, 38, 34, 63, 76, 62, 74]
100_103    [59, 63, 48, 35, 60, 79, 55, 41, 47, 67, 52, 8...
100_104    [59, 48, 54, 76, 79, 74, 37, 60, 65, 58, 55, 6...
100_117                                             [79, 81]
100_118    [62, 35, 74, 66, 36, 52, 55, 4, 51, 79, 54, 48...
                                 ...
9_40                                            [54, 74, 73]
9_41                                            [69, 60, 73]
9_42                 [59, 74, 51, 73, 57, 41, 4, 63, 56, 58]
9_43       [69, 41, 48, 82, 74, 18, 66, 34, 53, 40, 54, 7...
9_44             [54, 48, 60, 74, 58, 9, 79, 41, 82, 59, 69]
Name: category, Length: 9124, dtype: object

In [4]:
one_hot_list = []

for i in range(len(grid_baskets)):
    row = []
    for j in range(len(categories)):
        row.append(0)
    one_hot_list.append(row)


for basket_index in range(len(grid_baskets)):
    for category_index in grid_baskets[basket_index]:
        one_hot_list[basket_index][category_index-1] = 1

one_hot_df = pd.DataFrame(one_hot_list, columns=categories[0])
one_hot_df

C:\Users\User1\AppData\Local\Temp\ipykernel_62388\836452106.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  for category_index in grid_baskets[basket_index]:

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9121,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9122,0,0,0,1,0,0,1,0,0,0,...,1,0,1,1,0,1,1,0,0,0
9123,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [5]:
grid_baskets_df = grid_baskets.reset_index()
grid_baskets_df.columns = ['grid_id', 'categories']
print(grid_baskets_df)

      grid_id                                         categories
0     100_102                   [83, 48, 38, 34, 63, 76, 62, 74]
1     100_103  [59, 63, 48, 35, 60, 79, 55, 41, 47, 67, 52, 8...
2     100_104  [59, 48, 54, 76, 79, 74, 37, 60, 65, 58, 55, 6...
3     100_117                                           [79, 81]
4     100_118  [62, 35, 74, 66, 36, 52, 55, 4, 51, 79, 54, 48...
...       ...                                                ...
9119     9_40                                       [54, 74, 73]
9120     9_41                                       [69, 60, 73]
9121     9_42            [59, 74, 51, 73, 57, 41, 4, 63, 56, 58]
9122     9_43  [69, 41, 48, 82, 74, 18, 66, 34, 53, 40, 54, 7...
9123     9_44        [54, 48, 60, 74, 58, 9, 79, 41, 82, 59, 69]

[9124 rows x 2 columns]

In [6]:
grid_baskets_df = grid_baskets_df.join(one_hot_df)
grid_baskets_df.drop(['categories'], axis='columns', inplace=True)
grid_baskets_df.set_index('grid_id', inplace=True)
grid_baskets_df

,Food,Shopping,Entertainment,Japanese restaurant,Western restaurant,Eat all you can restaurant,Chinese restaurant,Indian restaurant,Ramen restaurant,Curry restaurant,...,Accountant Office,IT Office,Publisher Office,Building Material,Gardening,Heavy Industry,NPO,Utility Copany,Port,Research Facility
grid_id,,,,,,,,,,,,,,,,,,,,,
100_102,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
100_103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
100_104,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
100_117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
100_118,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9_40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_42,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9_43,0,0,0,1,0,0,1,0,0,0,...,1,0,1,1,0,1,1,0,0,0
9_44,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [7]:
freq_items = apriori(grid_baskets_df, min_support=0.1, use_colnames=True)

rules = association_rules(
    freq_items, metric="lift", min_threshold=1, num_itemsets=len(grid_baskets)
)
rules = rules.sort_values(["confidence", "lift"], ascending=[False, False])
print(rules.head())

                           antecedents          consequents  \
102    (Hair Salon, Building Material)    (Transit Station)
16                              (Bank)    (Transit Station)
12                          (Laundry )    (Transit Station)
36                       (Real Estate)  (Building Material)
113  (Heavy Industry, Home Appliances)  (Building Material)

     antecedent support  consequent support   support  confidence      lift  \
102            0.123520            0.359711  0.100395    0.812777  2.259531
16             0.133056            0.359711  0.105984    0.796540  2.214392
12             0.162210            0.359711  0.121219    0.747297  2.077496
36             0.163744            0.270934  0.121328    0.740964  2.734852
113            0.145989            0.270934  0.107628    0.737237  2.721097

     representativity  leverage  conviction  zhangs_metric   jaccard  \
102               1.0  0.055963    3.419934       0.635988  0.262239
16                1.0  0.058123    3.147009       0.632577  0.274015
12                1.0  0.062870    2.533765       0.619070  0.302516
36                1.0  0.076965    2.814535       0.758559  0.387198
113               1.0  0.068075    2.774618       0.740624  0.347980

     certainty  kulczynski
102   0.707597    0.545938
16    0.682238    0.545589
12    0.605330    0.542143
36    0.644701    0.594390
113   0.639590    0.567243

c:\Users\User1\anaconda3\envs\dm-proj2\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Top frequent itemsets
and verification of support values

In [8]:
freq_itemsets_copy = freq_items.copy()

# Calculate the support counts manually and add as a new column
support_counts = []
for index, row in freq_itemsets_copy.iterrows():
    itemset = list(row["itemsets"])  # convert frozenset of items to list
    items = one_hot_df[itemset]  # get the columns in the itemset
    mask = items.all(
        axis=1
    )  # check if all items in the itemset are present in each row (grid cell)
    support_count = mask.sum() / len(one_hot_df)
    support_counts.append(support_count)

freq_itemsets_copy["check_support"] = support_counts
# sort the dataframe by the support count and reset the index

freq_itemsets_copy = freq_itemsets_copy.sort_values(
    "support", ascending=False
).reset_index(drop=True)

freq_itemsets_copy.head()

    support             itemsets  check_support
0  0.375055             (Church)       0.375055
1  0.359711    (Transit Station)       0.359711
2  0.303924     (Heavy Industry)       0.303924
3  0.270934  (Building Material)       0.270934
4  0.269838    (Home Appliances)       0.269838

In [9]:
# save to csv
freq_itemsets_copy.to_csv("../Datasets/Task 1/freq_itemsets_cityB.csv")

### Top Association Rules by Lift

In [10]:
# keep only antecedents, consequents and lift
rulesB = rules.copy()[["antecedents", "consequents", "lift"]]
# combine antecedents and consequents into a rule column with this format: (antecedents) -> (consequents)
rule_col = (
    rulesB["antecedents"].apply(lambda x: ", ".join(list(x)))
    + " -> "
    + rulesB["consequents"].apply(lambda x: ", ".join(list(x)))
)
# insert rule column into df
rulesB.insert(0, "rule", rule_col)
# drop antecedents and consequents
rulesB.drop(["antecedents", "consequents"], axis="columns", inplace=True)
# sort by lift and reset index
rulesB = rulesB.sort_values("lift", ascending=False).reset_index(drop=True)

In [11]:
rulesB.head()

                                               rule      lift
0                            Hair Salon -> Laundry   3.490690
1                            Laundry  -> Hair Salon  3.490690
2                         Real Estate -> Hair Salon  3.380272
3                         Hair Salon -> Real Estate  3.380272
4  Hair Salon -> Transit Station, Building Material  3.261651

In [12]:
# save to csv
rulesB.to_csv("../Datasets/Task 1/rules_cityB.csv")